/* Group 1 */

position: absolute;
width: 1253px;
height: 48px;
left: 101px;
top: 208px;



/* Search */

position: absolute;
width: 918px;
height: 48px;
left: 282px;
top: 208px;




/* Ingrese el título de lo que desea buscar aquí */

position: absolute;
left: 4.66%;
right: 36.8%;
top: 33.33%;
bottom: 33.33%;


/* search */

position: absolute;
left: 95.63%;
right: 1.93%;
top: 25%;
bottom: 25%;






/* Opciones */

position: absolute;
width: 85px;
height: 16px;
left: 101px;
top: 218px;




/* Notificaciones */

position: absolute;
width: 109px;
height: 16px;
left: 1245px;
top: 224px;

